@import '../../../node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import '../../../node_modules/bootstrap/scss/_forms.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';


:root{
    --white:#FFFFFF;
    --gray-100:#424242;
    --gray-75:#707070;
    --gray-50:#706F6F;
    --gray-25:#00000029;
    --gray-10:#F4F4F4;
    --blue-light:#65B3D5;
    --fuchsia-dark:#BB5CD5;
    --pink:#EE2B7B;
    --green:#06C5B7;
    --green-light:#9EF0EA;
}
html{
    overflow-x: hidden;
}
body{
    font-size: 16px !important;
}
#image-wrapper{
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 20px;
    background-color: var( --blue-light);
    margin: 2rem 0 1rem;
}
.container-cesde{
    max-width: 960px;
    padding: 5rem 1rem;
    margin: auto;
}
.ab-sub-wrapper{
    background-color: var(--pink);
}
.wp-menu-image.dashicons-before img {
    width: 20px;
    height: auto;
    margin: auto;
}
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item{
    background-color: var( --fuchsia-dark);
}
#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input{
    background-color: var(--pink);
}
div#wpadminbar,
ul#adminmenu,
#adminmenuwrap {
    background-color: var(--pink);
    .wp-submenu.wp-submenu-wrap{
        background-color: var(--pink);
        li{
            color: var( --white);
            &:hover{
                color: var( --fuchsia-dark);
            }
        }
    }
}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu{
    background-color: var( --fuchsia-dark);
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus{
    background-color: var( --fuchsia-dark);
    color: var( --white);
}
#adminmenu .awaiting-mod, #adminmenu .update-plugins{
    background-color:var( --green);
}
.container-cesde{
    h1,h2,h3,h4{
        margin: 0;
        margin-bottom: 1.2em;
        font-weight: 700;
        line-height: 1.5rem;
    }
    .saving-data {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255,0.5);
        width: 100%;
        height: 100%;
        z-index: 99;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        h2.save-complete {
            font-size: 3rem;
            color: var(--green);
            line-height: 1;
            margin: 0;
            animation-name:showing;
            animation-duration: 2s;
            animation-iteration-count:infinite;
        }
        .saving {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            border-top: 10px solid var(--pink);
            border-left: 10px solid transparent;
            border-bottom: 10px solid var(--pink);
            border-right: 10px solid transparent;
            animation-name:rotation;
            animation-duration: 2s;
            animation-iteration-count:infinite;
        }
        @keyframes showing {
            0%{
                opacity: 1;
            }
            50%{ opacity: 0.1;}
            100%{
                opacity: 1;
            }
        }
        @keyframes rotation {
            0%{
                transform: rotate(0deg);
            }
            50%{
                transform: rotate(180deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
    }
    .custom_media_image{
        max-width: 960px;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 2rem;

    }
    h4{
        font-size: 1.5rem;

    }
    p{
        font-size: 1rem;
        margin-bottom: 1.2em;
        line-height: 1em;
    }
    p.submit{
        text-align: center;
        .wp-core-ui .button-primary{
            min-width: 250px;
            font-size: 18px;;
        }
    }
.form-row-margin{
    border-bottom:1px solid var( --gray-75);
    margin-bottom: 1.2rem;
    padding-bottom: 2rem;
}
}