.footer-link{
    
        
        margin-left: 15px;
    
    &:before {
        content: "";
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        height: 7px;
        width: 7px;
        display: block;
        float: left;
        margin-right: 10px;
        transform: rotate(319deg);
        margin-top: 5px;
        position: absolute;
        margin-left: -17px;
    }
}