.information_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 44px;
    margin-right: 18px;
    border-bottom: 3px solid var(--pink);
    margin-bottom: 60px;
    .right-side{
        .noticias-item{
            .notice-excerpt, .notice-link{
                display: none;
            }
        }
    }
    @media (max-width:767px) {
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 60px;
        .noticias-item{
            margin-bottom: 30px;
        }

    }
}
.noticias-item{
    margin-bottom: 30px;
    a{
        transition: 0.3s all;
    }
    &:hover{
        a{
            color: var(--pink);
        }
    }
    .notice-category {
        padding: 0 20px;
        margin-top: -15px;
        h5 {
            margin-bottom: 5px;
            font-size: 12px;
            border-radius: 30px;
            padding: 5px 20px;
            color: var(--white);
            font-weight: 400;
            display: inline-block;
            text-align: center;
           
        }
    }
    .notice-text{
        h4 {
            margin: 1rem 0;
            font-size: 1.5rem;
            color: var(--gray-100);
        }
        .notice-excerpt {
            color: var(--gray-100);
            font-size: 17px;
            margin-bottom: 10px;
            &:hover{
                color: var(--pink);
            }
        }
        .notice-link{
            a{
                text-decoration: underline;
                color: var(--pink);
                &:hover{
                    color: var(--gray-100);
                }
            }
        }
    }
}
/*archive loop*/
section.noticias-archive {
    max-width: 1080px;
    margin: auto;
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(3,1fr);
    place-content: center;
    @media (max-width:767px) {
        grid-template-columns: repeat(1,1fr);
        width: 90%;
    }
    @media (min-width:768px) and (max-width:1024px) {
        grid-template-columns: repeat(2,1fr);
        width: 90%;
    }
   
}
article.noticias-item.item-desing-2 {
    background-color: var(--gray-10);
    position: relative;
    .notice-text {
        max-width: 80%;
        margin: auto;
        margin-top: -42px;
        position: relative;
        margin-bottom: 20px;
        .notice-data{
            padding: 16px;
            min-height: 140px;
            place-content: center;
            align-items: center;
            display: grid;
            h5{
                margin-bottom: 9px;
               a{
                font-weight: 600;
                font-size: 1rem;
                color:black;
                transition: 0.3s;
                &:hover{
                    color:var(--white);
                }
               }
            }
            h4{
                margin: 0;
                a{
                    font-size: 1.2rem;
                    color:var(--white);
                    transition: 0.3s;
                    &:hover{
                        color:black;
                    }
                }
            }
        }
    }
}
section.pagination-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;
    margin-top: 18px;
}
span.page-numbers{
    font-size: 18px;
    transition: 0.3s;
}
span.page-numbers.current, 
span.page-numbers:hover{
    color:var(--pink);
}
.cesde-notices-container {
    display: grid;
    grid-template-columns: 66% auto;
    gap: 50px;
    @media (max-width:767px) {
        grid-template-columns:100%;
        gap: 15px;
        justify-content: center;
        place-content: center;
    }
    @media (min-width:768px) and (max-width:992px){
        grid-template-columns: 60% auto;
    gap: 30px;
    }
}
.noticias-meta {
    position: relative;
    h2 {
        display: inline-block;
        margin: 0 15px;
        padding: 3px 25px;
        border-radius: 30px;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 12px;
        margin-top: 0;
        position: relative;
        top: -18px;
    }
    h1.noticias-title {
        font-weight: 600;
        font-size: 2.5rem;
        margin-bottom: 0.8rem;
        margin-top: -1.2rem;
    }
    .cesde-noticia-time{
        font-weight: 600;
        font-size: 1.3rem;
        color: var(--gray-100);
        margin-bottom: 2rem;
        display: block;
    }
}
ul.cesde-prev-next-notices {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 20px;
    margin-bottom: 50px;
    li.page-item{
        &.previus{
            h3{
                text-align: left;
            }
        }
        &.next{
           h3{
            text-align: right;
           }
        }
        max-width: 300px;
        a {
            i.fas{
                font-size: 20px;
            }
            display: flex;
            align-items: center;
            gap: 10px;
            transition: 0.3s;
            h3{
                font-size: 1rem;
                margin: 0;
            }
            &:hover{
                h3{
                    color:var(--pink);
                }
            }
        }
    }
    
}